<button (click)="increaseCounter()" class="btn btn-dark">click here</button>
<h2>{{counter()}}</h2>
<h2>{{total()}}</h2>

<!-- <div class="row container mx-auto g-3 my-3">
    @for (item of allProducts ; track $index) {
        <div class="col-3">
            <div class="card"> 
               <div>
                <img [src]="item.imageCover" class="card-img-top w-100" alt="">
              <div class="card-body">
                <h5 class="card-title text-success">{{item.category.name}}</h5>
                <p class="card-text text-secondary">{{item.title}}</p>
              </div>
              <div class="p-2 d-flex flex-row justify-content-between">
               <p class="text-success">{{item.price}}</p>
               <p><i class="fa-solid fa-star text-warning"></i>
                {{item.ratingsAverage}}</p>
              </div>
               </div>
              <div class="footer"> 
                 <div class="but">
                    <button class="btn btn-success w-100">add to cart</button>
                 </div>
              </div>
            </div>
          </div>
    }
    </div> -->