<div class="row container mx-auto my-5 align-items-center">
    <div class="col-4">
        <div class="image">
            <owl-carousel-o [options]="customOptions">
                @for (item of product.images; track $index) {
                    <ng-template carouselSlide>
                      <img [src]="product.images[$index]">
                    </ng-template>
                }
              </owl-carousel-o>
        </div>
    </div>
    <div class="col-8">
       <h6 >{{product.title}}</h6>
       <p class="text-secondary">{{product.description}}</p>
       <h5>{{product.category.slug}}</h5>
       <div class="p-2 d-flex flex-row justify-content-between">
        <p class="text-success">{{product.price}}EGP</p>
        <p><i class="fa-solid fa-star text-warning"></i>
         {{product.ratingsAverage}}</p>
       </div>
       <button (click)="addCartBtn(product._id)" class="btn btn-success w-100">add to cart</button>
    </div>
</div>