<div class="container">
    <button [routerLink]="['/userData', cartId]" routerLinkActive="router-link-active"  class="btn btn-success p-2 rounded-2 my-3">Request Order</button>
    <table class="table my-2 table-bordered text-center align-middle table-striped">
        
    
                <thead>
                 
                    <tr>
                        <th>Index</th>
                        <th>Product Image</th>
                        <th>Product Name</th>
                        <th>Product count</th>
                        <th>Product Price</th>
                        <th>Delete</th>
                    </tr>
                </thead>
              <tbody>
          @for (item of myCartProducts; track $index) {
            <tr>
                <td>{{$index}}</td>
                <td class="w-50"><img [src]="item.product.imageCover" class="w-25" alt=""></td>
                <td>{{item.product.title}}</td>
                <td>
                    <i (click)="editQuentityBtn(item.count+1 , item.product._id)" class="fa-solid fa-plus-circle"></i>
                    {{item.count}}
                    <i (click)="editQuentityBtn(item.count-1 , item.product._id)" class="fa-solid fa-minus-circle"></i>
                </td>
                <td>{{item.price}}EGP</td> 
                <td>
                    <a (click)="removeItemBtn(item.product._id)" class="btn btn-outline-danger">Delete</a>
                </td> 
            </tr>
          }
            
                </tbody>
            </table>
</div>